<div class="post-comment">
    <ul>
        <li>
            <div class="row">
                <div class="col-auto pr-2"> <img class="rounded" alt="" src="images/blog/user-3.jpg"> </div>
                <div class="col">
                    <h6> <a class="float-right text-2 text-muted btn-link" href="#"><span class="mr-1"><i
                                    class="fas fa-reply-all"></i></span>Reply</a> Ruby Clinton
                        <span class="text-muted text-2 font-weight-400 d-block d-sm-inline-block mt-2 mt-sm-0"><em>-
                                April 15, 2020</em></span>
                    </h6>
                    <p class="mb-0">Some quick example text to build on the card title
                        and make up the bulk of the card's content to orem ipsum dolor sit amet,
                        consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem
                        ipsum dolor sit amet, consectetur adipiscing incididunt.</p>
                </div>
            </div>
            <ul>
                <li>
                    <div class="row">
                        <div class="col-auto pr-2"> <img class="rounded" alt="" src="images/blog/user-1.jpg"> </div>
                        <div class="col">
                            <h6> <a class="float-right text-2 text-muted btn-link" href="#"><span class="mr-1"><i
                                            class="fas fa-reply-all"></i></span>Reply</a> James
                                Maxwell <span
                                    class="text-muted text-2 font-weight-400 d-block d-sm-inline-block mt-2 mt-sm-0"><em>-
                                        April 18, 2020</em></span> </h6>
                            <p class="mb-0">Some quick example text to build on the card
                                title and make up the bulk of the card's content to orem ipsum dolor
                                sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut
                                labore.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="row">
                <div class="col-auto pr-2"> <img class="rounded" alt="" src="images/blog/user-2.jpg"> </div>
                <div class="col">
                    <h6> <a class="float-right text-2 text-muted btn-link" href="#"><span class="mr-1"><i
                                    class="fas fa-reply-all"></i></span>Reply</a> Neil Patel <span
                            class="text-muted text-2 font-weight-400 d-block d-sm-inline-block mt-2 mt-sm-0"><em>-
                                March 22, 2020</em></span> </h6>
                    <p class="mb-0">Some quick example text to build on the card title
                        and make up the bulk of the card's content to orem ipsum dolor sit amet,
                        consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem
                        ipsum dolor sit amet, consectetur adipiscing incididunt.</p>
                </div>
            </div>
        </li>
    </ul>
</div>